.App {
  background-color: #E5E4E4;
  min-height: 100vh;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.minter {
  width: 40%;
  align-self: center;
  margin: 2rem;
}


